#over-10-years {
    text-align: center;
    margin: 50px;
    font-size: 100px;
}

#about-us-image {
    padding: 30px;
    width: 45%;
}

#about-us-description {
    font-size: 25px;
}

@media screen and (max-width: 1400px) {
    #about-us-image {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 700px) {
    #over-10-years {
        text-align: center;
        margin: 50px;
        font-size: 50px;
    }
}