body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #edecea
}

/* Clickable Buttons */
.buttons {
    display: block; 
    width: 200px;
    margin: 20px auto;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    border-style: ridge;
    border-radius: 1.5px;
    border-color: black;
    background-color: white;
    font-size: larger;
}

/* Titles and Descriptions */
.main-titles {
    text-align: center;
    font-size: 50px;
    margin: 0 0 0 0;
}

.description {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 40px 40px 40px 40px
}

/* Left and Right Side section */
#default-container {
    display: flex;
    justify-content: center;
}

.left-side img, .right-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

/* Left and Right Dividers */
.left-side {
    width: 50%;
    display: flex;
}

.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 50px 50px 50px 50px;
}

/* Contact Us Section */
#contact-us-section {
    margin: 40px 40px 40px 40px;
}

#contact-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 5% 5% 5%;
    gap: 80px;
}

#contact-us-section .right-side a:hover {
    color: #c9a26a;
    transition: color 0.3s ease;
}

#contact-us-section .left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-us-section .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0%;
    text-align: center;
}

#phone-contact, #email-contact {
    display: flex;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    font-size: xx-large;
}

.contact-header {
    font-size: 40px;
}

.contact-info {
    font-size: 30px;
}

#mail-link {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

#contact-hours {
    font-size: 30px;
    padding: 0%;
    margin: 0;
}