body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #edecea
}

/* Clickable Buttons */
.buttons {
    display: block; 
    width: 200px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    border-style: ridge;
    border-radius: 5px;
    border-color: black;
    background-color: transparent;
    font-size: larger;
    color: black;
}

/* Titles and Descriptions */
.main-titles {
    text-align: center;
    font-size: 50px;
    margin: 0 0 0 0;
}

.description {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 40px 40px 40px 40px
}

#default-container {
    display: flex;
    justify-content: center;
}

/* Left and Right Side section */
/* Image on left or right side */
.left-side-image img, .right-side-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.right-side .description {
    margin: 20px 40px;
    text-align: center;
}

/* Left and Right Dividers */
.left-side, .left-side-image, .right-side-image {
    width: 50%;
    display: flex;
}

.right-side, .right-side-description, .left-side-description {
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.left-side-description {
    background-color: #c9a26a;
}

.right-side-description {
    background-color: rgb(234, 225, 225);
}

/* Contact Us Section */
#contact-us-section {
    margin: 40px 40px 40px 40px;
}

#contact-us-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 5% 5% 5%;
    gap: 80px;
}

#contact-us-section .right-side a:hover {
    color: #c9a26a;
    transition: color 0.3s ease;
}

#contact-us-section .left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-us-section .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0%;
    text-align: center;
}

#phone-contact, #email-contact {
    display: flex;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    font-size: xx-large;
}

.contact-header {
    font-size: 40px;
}

.contact-info {
    font-size: 30px;
}

#mail-link {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

#contact-hours {
    font-size: 30px;
    padding: 0%;
    margin: 0;
}

@media screen and (max-width: 1200px) {

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100%;
    }
    
    .description {
        display: block;
        text-align: center;
        font-size: 20px;
        margin: 40px 40px 40px 40px
    }

    #default-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left-side, .left-side-image {
        width: 100%;
        display: flex;
    }

    .left-side-image, .right-side-image {
        width: 100%;
        display: flex;
        order: 1;
    }

    .left-side-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .right-side, .right-side-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 30px;
        box-sizing: border-box;
    }

    .left-side-description, .right-side-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 30px;
        box-sizing: border-box;
        order: 2;
    }

    #contact-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 3% 0 3% 0;
    }

    #contact-info img {
        align-self: center;
        width: 50px;
        height: auto;
    }

    #contact-us-section {
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    #contact-us-section .left-side,
    #contact-us-section .right-side {
        width: 100%;
        padding: 20px;
        border-left: none;
    }

    .right-side .description {
        margin: 20px 0;
        text-align: center;
    }
    
    .right-side #buttons {
        margin: 20px auto;
    }
}