.stencil-text {
  font-family: 'Stencil', 'Stencil Std', sans-serif;
  font-weight: normal;
}

/* .nav-links .nav-link span {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
} */

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 30px;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.bodoni-moda-sc-regular, .nav-links .nav-link span {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}