
.stencil-text {
  font-family: 'Stencil', 'Stencil Std', sans-serif;
  font-weight: normal;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 20px 0;
  text-align: center;
  line-height: 1.4;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.bodoni-moda-sc-regular, .nav-links .nav-link span {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.zalando-sans-expanded-regular {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}