/* Army Text */
.stencil-text {
  font-family: 'Stencil', 'Stencil Std', sans-serif;
  font-weight: normal;
}

/* Links */
.bodoni-moda-sc-regular, .nav-links .nav-link span {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* Text */
.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*Headers */
.merriweather-regular {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* under headers*/
.scope-one-regular {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-style: normal;
}
