#gallery-header-text {
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.kitchen-container, .basement-container,
.fencing-container, .decks-container {
    height: 475px;
    margin: 0;
    padding: 20px 100px;
    font-size: 40px;
}

.kitchen-container, .decks-container {
    background-color: white;
}

.basement-container {
    background-color: #383633;
    color: aliceblue;
}

.fencing-container {
    background-color: #c9a26a;
}

.picture-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    margin: 0;
}

.picture-display img {
    object-fit: cover;
    height: 315px;
    width: 315px;
}

@media screen and (max-width: 1380px) {
    
    .kitchen-container, .basement-container,
    .fencing-container, .decks-container {
        height: 700px;
        margin: 0;
        padding: 20px 50px;
        font-size: 40px;
        text-align: center;
    }

    .picture-display {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .picture-display img {
        object-fit: cover;
        height: 270px;
        width: 270px;
    }
}

@media screen and (max-width: 680px) { 
    .kitchen-container, .basement-container,
    .fencing-container, .decks-container {
        height: 1250px;
        margin: 0;
        padding: 20px 100px;
        font-size: 40px;
        text-align: center;
    }
}