body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#picture-slideshow img {
    width: 1500px;
    height: 450px;
    border: 0;
}

#main-titles {
    text-align: center;
}