body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: blue; */
}

#picture-slideshow img {
    width: 1500px;
    height: 450px;
    border: 0;
}

#main-titles {
    text-align: center;
    font-size: 50px;
}

#description {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 60vh 0 60vh;
}