body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #edecea
}

#picture-slideshow {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.7));
    padding: 30px 50px;
    border-radius: 10px;
    z-index: 2;
}

.slide-text h2 {
    font-size: 48px;
    margin: 0 0 15px 0;
    font-family: 'Stencil', 'Stencil Std', sans-serif;
    font-weight: lighter;
}

.slide-text span {
    font-size: 24px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s;
    border-radius: 8px;
}

.slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

.main-titles {
    text-align: center;
    font-size: 50px;
    margin: 0 0 0 0;
}

.description {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 40px 40px 40px 40px
}

#buttons {
    display: block; 
    width: 200px;
    margin: 20px auto;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    border-style: ridge;
    border-radius: 1.5px;
    border-color: black;
    background-color: white;
    font-size: larger;
}

#main-projects-container {
    margin: 150px 100px 150px 100px;
    padding: 60px 0 60px 0;
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.project-containers-all {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin: 0 0 25px 0;
}

.project-containers {
    flex: 1;
    max-width: 400px;
    font-weight: lighter;
    font-size: xx-large;
}

.project-containers h3 {
    text-align: center;
    margin: 15px 50px 5px 50px;
}

.project-containers img {
    display: block;
    margin: 0 auto;
    height: 350px;
    width: 350px;
}

#about-us-container {
    display: flex;
    justify-content: center;
}

#about-us-title {
    width: 50%;
    display: flex;
}

#about-us-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

#about-us-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 50px 50px 50px;
    background-color: rgb(203, 142, 99);
}

#contact-info {
    display: flex;
    justify-content: center;
}

#phone-contact, #email-contact {
    display: block;
    text-align: center;
    padding: 10px 30px 10px 30px;
    font-size: xx-large;
}

@media screen and (max-width: 1400px) {

    #picture-slideshow {
        height: 300px;
    }

    .slide-text h2 {
        font-size: 32px;
    }

    .slide-text span {
        font-size: 18px;
    }

    .slide-text {
        padding: 20px 30px;
    }

    .description {
        display: block;
        text-align: center;
        font-size: 20px;
        margin: 0 20vh 0 20vh;
    }

    #main-projects-container {
        margin: 50px 50px 50px 50px;
    }

    #project-containers-all {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about-us-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #about-us-title {
        width: 100%;
        display: flex;
    }

    #about-us-description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2% 2% 2% 2%;
    }

    #contact-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 3% 0 3% 0;
    }

    #contact-info img{
        align-self: center;
        width: 50px;
        height: auto;
    }
}