body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: #C19257 */
}

/* Slideshow container */
#picture-slideshow {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
}

/* Individual slide */
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
}

/* Text overlay */
.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 50px;
    border-radius: 5px;
    z-index: 2;
}

.slide-text h2 {
    font-size: 48px;
    margin: 0 0 15px 0;
    font-family: 'Stencil', 'Stencil Std', sans-serif;
    font-weight: lighter;
}

.slide-text span {
    font-size: 24px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#main-titles {
    text-align: center;
    font-size: 50px;
}

#description {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 60vh 0 60vh;
}

#buttons {
    display: block; 
    width: 200px;
    margin: 20px auto;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    background-color: white;
    font-size: larger;
}

@media screen and (max-width: 999px) {

    #picture-slideshow {
        height: 300px;
    }

    .slide-text h2 {
        font-size: 32px;
    }

    .slide-text span {
        font-size: 18px;
    }

    .slide-text {
        padding: 20px 30px;
    }

    #description {
        display: block;
        text-align: center;
        font-size: 20px;
        margin: 0 20vh 0 20vh;
    }
}