/* Description: This CSS file styles the services page

@author: Jesse Proulx
@date: 2025
*/

#services-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: contain;
    background-color: #c9a26a;
}

#services-text {
    text-align: center;
    font-size: xx-large;
    margin: 65px 50px 50px 50px ;
}

#default-container {
    display: flex;
    justify-content: center;
}