/* Description: This CSS file styles the services page

@author: Jesse Proulx
@date: 2025
*/

#services-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #31302e;
}

#services-text {
    text-align: center;
    font-size: 40px;
    margin: 65px 50px 50px 50px;
    color: rgb(206, 213, 219);
}