/* Description: This CSS file styles the services page

@author: Jesse Proulx
@date: 2025
*/

/* MAIN PROPERTIES - TRY TO PUT IN IT'S OWN CSS*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #edecea
}

/* Clickable Buttons */
.buttons {
    display: block; 
    width: 200px;
    margin: 20px auto;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    border-style: ridge;
    border-radius: 1.5px;
    border-color: black;
    background-color: white;
    font-size: larger;
}

/* Titles and Descriptions */
.main-titles {
    text-align: center;
    font-size: 50px;
    margin: 0 0 0 0;
}

.description {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 40px 40px 40px 40px
}

/* Left and Right Dividers */
.left-side {
    width: 50%;
    display: flex;
}

.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 50px 50px 50px 50px;
}

/* SPECIFIC TO SERVICES PAGE*/
#services-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit:contain;
    background-color: #c9a26a;
    margin: 0 0 50px 0;
}

#services-text {
    text-align: center;
    font-size: xx-large;
    margin: 65px 50px 50px 50px ;
}